@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

$fonts: 'Poppins', Helvetica, sans-serif;

// colors
$primary-color: #ffffff;
$secondary-color: #D98481;
$accent-color: #7892B5;
$accent-color2: #91B5A9;

//#ffebea

// $primary-color: #325a42;
// $secondary-color: #f0e7ca;
// $accent-color: #fadf88;
// $accent-color2: #fdbc96;



$spacing: 2rem;