/* file import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
/* $radius is the parameter of the function */
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}
html .text--align-center {
  text-align: center;
}
html .text--align-justify {
  text-align: justify;
  text-justify: inter-word;
}
html .my0 {
  margin-bottom: 0;
  margin-top: 0;
}
html .mt3 {
  margin-top: 3%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Helvetica, sans-serif; /* variable usage */
  width: 100%;
  min-height: 100vh;
  height: 100vh;
}
body p {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 400;
  color: #7892B5;
}
body .button {
  background-color: #D98481;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  border-width: 0px;
  padding: 10px 20px;
}
body .button:hover {
  filter: brightness(102%);
}
body .container {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: block;
  margin-right: 54px;
  background-color: #ffffff;
}
body .container__header {
  margin: 0;
  padding: 20px 10px;
  font-weight: 600;
  font-size: 300%;
  text-align: center;
  color: #D98481;
}
body .menu {
  background-color: rgba(17, 255, 238, 0);
  align-items: center;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-width: 0;
  padding-right: 1%;
  position: fixed;
  right: 0;
  top: 0;
}
body .menu .menu__item__icon {
  color: #7892B5;
}
body .menu .menu__item {
  margin-bottom: 20%;
}
body .menu .menu__item--active {
  --fa-animation-duration: 2s;
}
body .container-frontpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-frontpage .container-frontpage__content-header {
  border-right: 2px solid #D98481;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10vw;
  margin: 0;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 600;
  color: #D98481;
}
body .container-aboutme {
  margin: 0;
  padding: 0;
  color: #D98481;
}
body .container-aboutme .container-aboutme__grid {
  margin-top: 5%;
  margin-bottom: 5%;
}
body .container-aboutme .container-aboutme__image-container {
  float: left;
  width: 50%;
}
body .container-aboutme .container-aboutme__image-container .container-aboutme__image-container__image {
  float: right;
  width: 25%;
  border-radius: 60%;
  margin-right: 5%;
  padding: 3px;
  border: 2px dotted #91B5A9;
  box-shadow: 0 0 0 7px #fff, 0 0 0 8px #ddd;
}
body .container-aboutme .container-aboutme__info-container {
  float: right;
  width: 50%;
}
body .container-aboutme .container-aboutme__info-container .container-aboutme__info-container__header {
  color: #91B5A9;
  margin-bottom: 0%;
}
body .container-aboutme .container-aboutme__info-container .container-aboutme__info-container__content {
  font-size: large;
  color: #7892B5;
  margin-top: 0;
}
body .container-aboutme .container-aboutme__more-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 30%;
  width: 100%;
  display: flex;
}
body .container-aboutme .container-aboutme__interests-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-aboutme .container-aboutme__interests-container .container-aboutme__interests-container__header {
  margin: 0;
  color: #D98481;
}
body .container-aboutme .container-aboutme__interests-container .container-aboutme__interests-container__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 0;
}
body .container-aboutme .container-aboutme__interests-container .interests-container__icon {
  padding: 1%;
  color: #91B5A9;
}
body .container-aboutme .container-aboutme__download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  margin: 1%;
}
body .container-skills {
  margin: 0;
  padding: 0;
  color: #D98481;
}
body .container-experience .container-experience__entries {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body .container-experience .container-experience__entries .container-experience__entries__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body .container-experience .container-experience__entries .container-experience__entries__header .entries__icon {
  color: #7892B5;
}
body .container-experience .container-experience__entries .container-experience__entries__header .entries__header {
  margin-left: 5%;
  font-weight: 500;
  color: #91B5A9;
  font-size: 150%;
}
body .container-experience .container-experience__entries .container-experience__entries--left {
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-experience .container-experience__entries .container-experience__entries--right {
  width: 50%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-experience .container-experience__entries .container-experience__entries--scroll {
  overflow-x: hidden;
  overflow-y: auto;
}
body .container-experience .container-experience__entries .container-experience__entries__entry {
  background-color: #7892B5;
  width: 70%;
  padding: 1% 3%;
  box-shadow: 10px 10px #8CB9C0;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__content {
  color: white;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__content--bold {
  font-weight: 500;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #D98481;
  }
  to {
    border-right-color: transparent;
  }
}/*# sourceMappingURL=styles.css.map */