/* file import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
/* $radius is the parameter of the function */
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}
html .text--align-center {
  text-align: center;
}
html .text--align-justify {
  text-align: justify;
  text-justify: inter-word;
}
html .my0 {
  margin-bottom: 0;
  margin-top: 0;
}
html .mt3 {
  margin-top: 3%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  /* Animation */
}
body p {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 400;
  color: #7892B5;
}
body .portfolio__button {
  background-color: #D98481;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  border-width: 0px;
  padding: 10px 20px;
  width: 100%;
}
body .portfolio__button:hover {
  filter: brightness(95%);
  cursor: pointer;
  color: white;
  text-decoration: none;
}
body .portfolio__menu {
  background-color: rgba(17, 255, 238, 0);
  align-items: center;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-width: 0;
  padding-right: 1%;
  position: fixed;
  z-index: 1;
  right: 0;
}
body .portfolio__menu .menu__item__icon {
  color: #7892B5;
}
body .portfolio__menu .portfolio__menu__item {
  margin-bottom: 20%;
  pointer-events: none;
}
body .portfolio__menu .portfolio__menu__item--active {
  --fa-animation-duration: 2s;
}
body .portfolio__container {
  min-height: 100vh;
  margin: 0;
  display: block;
  position: relative;
  background-color: #ffffff;
}
body .container__header {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 300%;
  text-align: center;
  color: #D98481;
}
body .container-frontpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-frontpage .container-frontpage__content-header {
  border-right: 2px solid #D98481;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10vw;
  margin: 0;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 600;
  color: #D98481;
}
body .container-frontpage .container-frontpage__content__social-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
body .container-frontpage .container-frontpage__content__social-buttons .social-buttons__btn {
  margin: 0px 0px;
  margin-right: 0.5%;
  margin-left: 0.5%;
  padding: 0px;
  color: #7892B5;
}
body .container-frontpage .frontpage__scroll__container {
  bottom: 0;
  position: absolute;
  margin-bottom: 4%;
  --fa-beat-fade-opacity: 0.67;
  --fa-beat-fade-scale: 1.05;
  --fa-animation-duration: 2s;
}
body .container-frontpage .frontpage__scroll__container .scroll__redirect {
  color: #D98481;
  text-decoration: none;
}
body .container-frontpage .frontpage__scroll__container .scroll__indicator {
  bottom: 0;
  margin-bottom: 3vw;
}
body .container-aboutme {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #D98481;
}
body .container-aboutme .container-aboutme__grid {
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body .container-aboutme .container-aboutme__grid--left {
  width: 45%;
  border-right: 2px dotted #D98481;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
body .container-aboutme .container-aboutme__grid--right {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-aboutme .container-aboutme__image-container {
  width: 50%;
}
body .container-aboutme .container-aboutme__image-container .container-aboutme__image-container__image {
  width: 50%;
  border-radius: 60%;
  padding: 3px;
  border: 2px dotted #91B5A9;
  box-shadow: 0 0 0 7px #fff, 0 0 0 8px #ddd;
}
body .container-aboutme .container-aboutme__info-container {
  width: 50%;
  margin-top: 1vw;
}
body .container-aboutme .container-aboutme__info-container .container-aboutme__info-container__header {
  color: #91B5A9;
  margin-bottom: 0%;
  font-weight: bold;
}
body .container-aboutme .container-aboutme__info-container .container-aboutme__info-container__content {
  color: #7892B5;
  margin-top: 0;
}
body .container-aboutme .container-aboutme__more-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1vw 2vw;
  width: 100%;
  display: flex;
}
body .container-aboutme .container-aboutme__interests-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-aboutme .container-aboutme__interests-container .container-aboutme__interests-container__header {
  margin: 0;
  padding-bottom: 1%;
  color: #D98481;
  font-size: 1.3vw;
}
body .container-aboutme .container-aboutme__interests-container .container-aboutme__interests-container__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 0;
}
body .container-aboutme .container-aboutme__interests-container .interests-container__icon {
  padding: 3% 5%;
  color: #91B5A9;
  font-size: 2.5vw;
}
body .container-aboutme .container-aboutme__interests-container .container-aboutme__interests__label {
  margin: 0px;
  padding: 1px;
  height: 15px;
}
body .container-aboutme .container-aboutme__download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 1%;
  margin: 1%;
}
body .container-skills {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #D98481;
  width: 100%;
}
body .container-skills .container-skills__skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1;
  overflow: wrap;
  width: 90%;
  margin: 0 auto;
}
body .container-skills .container-skills__skills .container-skills__skill {
  align-items: center;
  justify-content: center;
  width: 20%;
  display: block;
}
body .container-skills .container-skills__skills .container-skills__skill .skill__label {
  text-align: center;
  color: #D98481;
  margin-top: 0;
}
body .container-skills .container-skills__skills .container-skills__skill .container-skills__icon-container {
  width: 10vw;
  height: 10vw;
  margin: 20px auto;
  background-color: #7892B5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
body .container-skills .container-skills__skills .container-skills__skill .container-skills__icon-container:hover {
  background-color: #ffffff;
  border: 8px solid #7892B5;
  color: #7892B5;
}
body .container-skills .container-skills__skills .container-skills__skill .skill__icon {
  font-size: 4vw;
}
body .container-skills .container-skills__skills .container-skills__skill .skill__icon--extra {
  font-size: 0.8vw;
}
body .container-experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-experience .container-experience__header {
  margin-bottom: 2%;
}
body .container-experience .container-experience__entries {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body .container-experience .container-experience__entries .container-experience__entries__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body .container-experience .container-experience__entries .container-experience__entries__header .entries__icon {
  color: #7892B5;
}
body .container-experience .container-experience__entries .container-experience__entries__header .entries__header {
  margin: 0;
  margin-left: 5%;
  font-weight: 500;
  color: #91B5A9;
  font-size: 130%;
}
body .container-experience .container-experience__entries .container-experience__entries--left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-experience .container-experience__entries .container-experience__entries--right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-experience .container-experience__entries .container-experience__entries__entry {
  background-color: #7892B5;
  width: 70%;
  height: 35vh;
  padding: 2% 3%;
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__design {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__design .entry__design__circle {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 3px solid;
  position: relative;
  border-color: #ffffff;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__design .entry__design__circle:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 45%;
  border: 2px dotted #ffffff;
  border-width: 0 0 0 2px;
  width: 1px;
  height: 25vh;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__details {
  width: 90%;
  display: flex;
  flex-direction: column;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content {
  color: white;
  font-weight: 400;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content--bold {
  font-weight: 500;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content--smaller {
  font-size: 0.9rem;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content__container::-webkit-scrollbar {
  width: 0.2em;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content__container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content__container::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content__container {
  overflow: auto;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  height: 10vh;
}
body .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content__container .entry__content__details {
  text-align: start;
  overflow: auto;
}
body .container-experience .container-experience__entries .container-experience__entries__entry--left {
  box-shadow: -10px -10px #8CB9C0;
}
body .container-experience .container-experience__entries .container-experience__entries__entry--right {
  box-shadow: 10px -10px #8CB9C0;
}
body .container-projects {
  color: #D98481;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-projects .carousel__control {
  color: #D98481;
}
body .container-projects .carousel-item-left, body .container-projects .carousel-item-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-projects .carousel-item.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-projects .carousel-inner.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-projects .container-projects__entries {
  display: flex;
  margin: 5%;
  margin-top: 2%;
}
body .container-projects .container-projects__entries .carousel-indicators {
  top: 100%;
  position: relative;
  z-index: 1;
}
body .container-projects .container-projects__entries .carousel-indicators li {
  background-color: #D98481;
}
body .container-projects .container-projects__entries .carousel-indicators li.active {
  background-color: #91B5A9;
}
body .container-projects .container-projects__entries--left {
  width: 49%;
  margin-right: 1%;
}
body .container-projects .container-projects__entries--right {
  width: 49%;
  margin-left: 1%;
}
body .container-projects .container-projects__project {
  width: 60%;
  display: flex;
  direction: row;
  margin: 1%;
  margin-top: 2%;
  border: 10px solid #91B5A9;
  box-shadow: 1px 4px 7px #b3b3b3;
}
body .container-projects .container-projects__project .project__image-container {
  width: 30%;
  border-right: none;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .container-projects .container-projects__project .project__image-container .project__image {
  width: 100%;
  align-items: center;
}
body .container-projects .container-projects__project .project__description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  background-color: #91B5A9;
  padding: 0px 1vw;
}
body .container-projects .container-projects__project .project__description .project__description__text {
  color: white;
  font-size: 1vw;
}
body .container-projects .container-projects__project:hover {
  cursor: pointer;
}
body .container-projects .container-projects__project:hover .project__description {
  background-color: white;
  border-left: none;
}
body .container-projects .container-projects__project:hover .project__description .project__description__text {
  color: #91B5A9;
  font-size: 1vw;
}
body .container-projects .footer {
  bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1vw;
  padding: 1vw 2vw;
  text-align: center;
  background-color: #D98481;
  color: #ffffff;
  position: absolute;
}
body .project__modal {
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
body .project__modal .project__modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 10px solid #91B5A9;
  width: 60%;
  height: 80vh;
  overflow-y: auto;
}
body .project__modal .project__modal__content .project__modal__action-button {
  margin: 1% 2%;
  display: flex;
  justify-content: end;
}
body .project__modal .project__modal__content .project__modal__action-button .modal__btn--close {
  color: #91B5A9;
  font-size: 1.5em;
}
body .project__modal .project__modal__content .project__modal__action-button .modal__btn--close:hover {
  color: #D98481;
  cursor: pointer;
}
body .project__modal .project__modal__content .project__modal__name {
  margin-top: 2%;
  margin-bottom: 4%;
}
body .project__modal .project__modal__content .project__modal__name .project__name {
  margin: 1% 2%;
  color: #7892B5;
  font-weight: 500;
  font-size: larger;
  text-align: center;
}
body .project__modal .project__modal__content .project__modal__images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body .project__modal .project__modal__content .project__modal__images .project__image {
  width: 60%;
}
body .project__modal .project__modal__content .project__modal__images__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 2%;
}
body .project__modal .project__modal__content .project__modal__images__btn-container .images__btn {
  margin: 0px 0.5%;
  padding: 10px 20px;
  width: 10%;
}
body .project__modal .project__modal__content .project__modal__images__btn-container .images__btn:disabled {
  background-color: #b3b3b3;
  cursor: default;
}
body .project__modal .project__modal__content .project__modal__images__btn-container .images__btn:disabled:hover {
  filter: brightness(100%);
}
body .project__modal .project__modal__content .project__modal__images__btn-container .images__btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
body .project__modal .project__modal__content .project__modal__description {
  color: #7892B5;
}
body #modal {
  visibility: hidden;
}
body .anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #D98481;
  }
  to {
    border-right-color: transparent;
  }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  body {
    overflow: visible;
  }
  body .portfolio__menu {
    margin-right: 0.5%;
  }
  body .menu__container {
    margin-right: 1%;
  }
  body .menu__container .portfolio__menu .portfolio__menu__item {
    pointer-events: auto;
  }
  body .sections__container .portfolio__container {
    overflow: visible;
    min-height: 100vh;
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    position: static;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .sections__container .container__header {
    font-size: 200%;
  }
  body .sections__container .container-frontpage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  body .sections__container .container-frontpage .container-frontpage__animation {
    display: flex;
    margin-bottom: 10%;
  }
  body .sections__container .container-frontpage .container-frontpage__animation .container-frontpage__animation__circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #91B5A9;
    animation: move-the-circle 1s infinite;
    transform-origin: center center;
  }
  body .sections__container .container-frontpage .container-frontpage__animation .container-frontpage__animation__circle:nth-child(1) {
    left: 0px;
    animation-delay: 0.5s;
  }
  body .sections__container .container-frontpage .container-frontpage__animation .container-frontpage__animation__circle:nth-child(2) {
    left: 30px;
    animation-delay: 1s;
  }
  body .sections__container .container-frontpage .container-frontpage__animation .container-frontpage__animation__circle:nth-child(3) {
    left: 60px;
    animation-delay: 1.5s;
  }
  body .sections__container .container-frontpage .container-frontpage__animation .container-frontpage__animation__circle:nth-child(4) {
    left: 90px;
    animation-delay: 2s;
  }
  body .sections__container .container-frontpage .container-frontpage__animation .container-frontpage__animation__circle:nth-child(5) {
    left: 120px;
    animation-delay: 2.5s;
  }
  body .sections__container .container-frontpage .container-frontpage__animation .container-frontpage__animation__circle:nth-child(6) {
    left: 150px;
    animation-delay: 3s;
  }
  body .sections__container .container-frontpage .container-frontpage__animation .container-frontpage__animation__circle:nth-child(7) {
    left: 180px;
    animation-delay: 3.5s;
  }
  body .sections__container .container-frontpage .container-frontpage__animation .container-frontpage__animation__circle:nth-child(8) {
    left: 210px;
    animation-delay: 4s;
  }
  body .sections__container .container-frontpage .container-frontpage__animation .container-frontpage__animation__circle:nth-child(9) {
    left: 240px;
    animation-delay: 4.5s;
  }
  @keyframes move-the-circle {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color: #91B5A9;
    }
    50% {
      transform: translate(0, 25px) scale(0.5);
      opacity: 0.5;
      background-color: #b3b3b3;
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color: #91B5A9;
    }
  }
  body .sections__container .container-frontpage .container-frontpage__content__social-buttons .social-buttons__btn {
    margin: 0px 2%;
    padding: 0px;
    color: #7892B5;
  }
  body .sections__container .container-aboutme .container-aboutme__grid {
    display: flex;
    flex-direction: column;
  }
  body .sections__container .container-aboutme .container-aboutme__grid--left {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: none;
  }
  body .sections__container .container-aboutme .container-aboutme__grid--right {
    width: 100%;
  }
  body .sections__container .container-aboutme .container-aboutme__image-container {
    width: 45%;
    height: 100%;
    margin-left: 0px;
  }
  body .sections__container .container-aboutme .container-aboutme__image-container .container-aboutme__image-container__image {
    width: 80%;
    right: 0;
    margin-right: 5vw;
  }
  body .sections__container .container-aboutme .container-aboutme__info-container {
    width: 45%;
    margin-right: 2%;
    word-break: break-all;
    text-align: left;
  }
  body .sections__container .container-aboutme .container-aboutme__more-info-container {
    margin: 2%;
    padding: 2% 5%;
  }
  body .sections__container .container-aboutme .container-aboutme__interests-container .container-aboutme__interests-container__header {
    font-size: 5vw;
  }
  body .sections__container .container-aboutme .container-aboutme__interests-container .container-aboutme__interests-container__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 0;
  }
  body .sections__container .container-aboutme .container-aboutme__interests-container .interests-container__icon {
    padding: 3% 5%;
    color: #91B5A9;
    font-size: 2em;
  }
  body .sections__container .container-aboutme .container-aboutme__download-button {
    margin-top: 5%;
  }
  body .sections__container .container-skills {
    margin-top: 15%;
  }
  body .sections__container .container-skills .container-skills__skills {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .sections__container .container-skills .container-skills__skills .container-skills__skill {
    width: 30%;
  }
  body .sections__container .container-skills .container-skills__skills .container-skills__skill .skill__icon {
    font-size: 5vw;
  }
  body .sections__container .container-skills .container-skills__skills .container-skills__skill .skill__icon--extra {
    font-size: 2vw;
  }
  body .sections__container .container-skills .container-skills__skills .container-skills__skill .container-skills__icon-container {
    width: 15vw;
    height: 15vw;
  }
  body .sections__container .container-skills .container-skills__skills .container-skills__skill .container-skills__icon-container:hover {
    border: 7px solid #7892B5;
  }
  body .sections__container .container-experience {
    margin-top: 15%;
    min-height: 100vh;
    overflow: hidden;
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px;
  }
  body .sections__container .container-experience .container-experience__entries {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries__header {
    margin: 2% 0px;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries--left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries--right {
    margin-top: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries__entry {
    margin-bottom: 3%;
    margin-top: 3%;
    height: unset;
    width: 85%;
    align-items: start;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries__entry .entry__design {
    margin-top: 2%;
    width: 5%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 2%;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries__entry .entry__design .entry__design__circle {
    height: 10px;
    width: 10px;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries__entry .entry__design .entry__design__circle:before {
    height: 50vw;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content__container::-webkit-scrollbar {
    width: unset;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content__container::-webkit-scrollbar-track {
    box-shadow: unset;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content__container::-webkit-scrollbar-thumb {
    background-color: unset;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content__container {
    height: 30vw;
    overflow: auto;
    margin-top: 2vw;
    margin-bottom: 4vw;
  }
  body .sections__container .container-experience .container-experience__entries .container-experience__entries__entry .entry__details .entry__content__container .entry__content__details {
    padding-top: 1%;
    text-align: start;
    margin-top: 2vw;
  }
  body .sections__container .container-projects {
    padding-bottom: 0px;
    margin-top: 20%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    overflow: hidden;
  }
  body .sections__container .container-projects .container-projects__entries {
    display: block;
    margin: 2%;
  }
  body .sections__container .container-projects .container-projects__entries .carousel-indicators {
    position: absolute;
    margin-top: 2%;
  }
  body .sections__container .container-projects .container-projects__entries--left, body .sections__container .container-projects .container-projects__entries--right {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  body .sections__container .container-projects .container-projects__project {
    width: 80%;
    border: 8px solid #91B5A9;
  }
  body .sections__container .container-projects .container-projects__project .project__image-container {
    width: 40%;
    border-right: none;
  }
  body .sections__container .container-projects .container-projects__project .project__description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    background-color: #91B5A9;
    padding: 0.5vw 3vw;
  }
  body .sections__container .container-projects .container-projects__project .project__description .project__description__text {
    color: white;
    font-size: 2vw;
    margin: 0;
    padding: 0;
  }
  body .sections__container .container-projects .container-projects__project:hover .project__description {
    background-color: #ffffff;
    border-left: none;
  }
  body .sections__container .container-projects .footer {
    font-size: 0.7em;
    padding: 3vw 2vw;
    position: static;
    margin-top: 30%;
  }
  body .project__modal {
    z-index: 5;
  }
  body .project__modal .project__modal__content {
    width: 80%;
  }
  body .project__modal .project__modal__content .project__modal__name .project__name {
    font-size: medium;
  }
  body .project__modal .project__modal__content .project__modal__images {
    margin-bottom: 5vw;
  }
  body .project__modal .project__modal__content .project__modal__images .project__image {
    width: 80%;
  }
  body .project__modal .project__modal__content .project__modal__images__btn-container .images__btn {
    margin: 0px 0.5%;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  body .project__modal .project__modal__content .project__modal__name {
    margin: 3vw 5vw;
  }
  body .project__modal .project__modal__content .project__modal__description {
    margin: 2vw;
    font-size: medium;
  }
}/*# sourceMappingURL=smallscreen.css.map */