/* file import */

@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

html{
    @include default-spacing();
    width: 100%;
    scroll-behavior: smooth;

    .text--align-center{
        text-align: center;
    }
    .text--align-justify{
        text-align: justify;
        text-justify: inter-word;
    }
    .my0{
        margin-bottom: 0;
        margin-top: 0;
    }
    .mt3{
        margin-top: 3%;
    }

}
  
body {
    
    @include default-spacing();
    font-family: $fonts;
    width:100%;
    // overflow: hidden;
    // height: ;
    
    //old
    min-height: 100vh;
    height: 100vh;
    
    p{
        font-family: $fonts;
        font-weight: 400;
        color: $accent-color;
        // font-size: 150%;
    }
    .portfolio__button{
        background-color: $secondary-color;
        color: $primary-color;
        text-decoration: none;
        border-radius: 50px;
        border-width: 0px;
        padding: 10px 20px;
        width: 100%;
    }
    .portfolio__button:hover{
        filter: brightness(95%);
        cursor: pointer;
        color: white;
        text-decoration: none;
    }
    .portfolio__menu{
        background-color: #11ffee00;
        align-items: center;
        height: 100vh;
        justify-content: center;
        display: flex;
        flex-direction: column;
        border-width: 0;
        padding-right: 1%;
        position: fixed;
        z-index: 1;
        right: 0; 
        // top: 0;

        .menu__item__icon{
            color: $accent-color;
        }
        .portfolio__menu__item{
            margin-bottom: 20%;
        }
    
        .portfolio__menu__item--active{
            --fa-animation-duration: 2s;
            // size: 14px;
        }
    }

    .portfolio__container{
        // max-height: 100vh;
        // height: 100vh;
        // // overflow-y: auto; 
        // margin:0;
        // display: block;
        // // margin-right: 54px;
        // background-color: $primary-color;
        // // overflow: hidden;

        // box-sizing: border-box;
        // position: relative;
        // height: 100vh;
        // overflow: hidden;

        //old
        min-height: 100vh;
        margin:0;
        display: block;
        position: relative;
        // margin-right: 54px;
        background-color: $primary-color;
        // overflow: hidden;
    }
    .container__header{
        @include default-spacing();
        font-weight: 600;
        font-size: 300%;
        text-align: center;
        color: $secondary-color;
    }

    .container-frontpage{
        @include flex-center();

        .container-frontpage__content-header{
            border-right: 2px solid $secondary-color;
            text-align: center;
            white-space: nowrap;
            overflow: hidden; 
            font-size: 10vw;
            margin: 0;
            font-family: $fonts; 
            font-weight: 600;
            color: $secondary-color;
        }
        .container-frontpage__content__social-buttons{
            @include flex-center-row();
            @include default-spacing();
            .social-buttons__btn{
                margin: 0px 0px;
                margin-right: 0.5%;
                margin-left: 0.5%;
                padding: 0px;
                color: $accent-color;
            }
        }
        .frontpage__scroll__container{
            bottom:0;
            position: absolute;
            margin-bottom: 4%;
            --fa-beat-fade-opacity: 0.67;
            --fa-beat-fade-scale: 1.05;
            --fa-animation-duration: 2s;
            .scroll__redirect{
                color: $secondary-color;
                text-decoration: none;
            }
            .scroll__indicator{
                bottom: 0;
                margin-bottom: 3vw;
            }
        }
    }

    .container-aboutme{
        @include default-spacing();
        @include flex-center();
        color: $secondary-color;

        .container-aboutme__grid{
            margin-top: 2vw;
            margin-bottom: 2vw;
            @include flex-center-row();
        }
        .container-aboutme__grid--left{
            width: 45%;
            border-right: 2px dotted $secondary-color;
            @include flex-center();
            text-align: center;
        }
        .container-aboutme__grid--right{
            width: 55%;
            @include flex-center();
            // border-left: 2px dotted $secondary-color;
        }
        .container-aboutme__image-container{
            width: 50%;

            .container-aboutme__image-container__image{
                width: 50%;
                border-radius: 60%;
                // margin-right: 5%;
                padding: 3px;
                border: 2px dotted $accent-color2;
                box-shadow: 0 0 0 7px #fff, 
                            0 0 0 8px #ddd;

            }
        }
        .container-aboutme__info-container{
            width: 50%;
            margin-top: 1vw;

            .container-aboutme__info-container__header{
                color: $accent-color2;
                margin-bottom: 0%;
                font-weight: bold;
            }
            .container-aboutme__info-container__content{
                color: $accent-color;
                margin-top: 0;
            }
        }
        .container-aboutme__more-info-container{
            @include flex-center();
            padding: 1vw 2vw;
            width: 100%;
            display: flex;
            
        }
        .container-aboutme__interests-container{
            @include flex-center();

            .container-aboutme__interests-container__header{
                margin: 0;
                padding-bottom: 1%;
                color: $secondary-color;
                font-size: 1.3vw;
            }

            .container-aboutme__interests-container__icons{
                @include flex-center-row();
                width: 100%;
                margin-top:0;
            }
            .interests-container__icon{
                padding: 3% 5%;
                color: $accent-color2;
                font-size: 2.5vw;
            }
            .container-aboutme__interests__label{
                margin: 0px;
                padding: 1px;
                height: 15px;
            }
        }

        .container-aboutme__download-button{
            @include flex-center-row();
            padding-top: 1%;
            margin: 1%;
        }
    }

    .container-skills{ //fix responsiveness! -- for phones (sira to)
        @include default-spacing();
        @include flex-center();
        color: $secondary-color;
        // margin-top: 5%;
        width: 100%;

        .container-skills__skills{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1;
            overflow: wrap;
            width: 90%;
            margin: 0 auto;

            .container-skills__skill{
                align-items: center; 
                justify-content: center;
                width: 20%;
                display: block;
        
                .skill__label{
                    text-align: center;
                    color: $secondary-color;
                    margin-top: 0;
                }
        
                .container-skills__icon-container {
                    width: 10vw;
                    height: 10vw;
                    margin: 20px auto;
                    background-color: $accent-color;
                    border-radius: 50%;
                    display: flex;
                    align-items: center; 
                    justify-content: center;
                    color: $primary-color
                }
                .container-skills__icon-container:hover{
                    background-color: $primary-color;
                    border: 8px solid $accent-color;
                    color: $accent-color;
                }
                .skill__icon{
                    font-size: 4vw;
                }
                .skill__icon--extra{
                    font-size: 0.8vw;
                }
            }
        }
    }

    .container-experience{
        // margin-bottom: 5%;
        // padding-bottom: 5%;
        @include flex-center();

        .container-experience__header{
            margin-bottom: 2%;
        }
        .container-experience__entries{
            @include default-spacing();
            @include flex-center-row();
            // width: 100%;
            .container-experience__entries__header{
                @include flex-center-row();

                .entries__icon{
                    color: $accent-color;
                }

                .entries__header{
                    margin: 0;
                    margin-left: 5%;
                    font-weight: 500;
                    color: $accent-color2;
                    font-size: 130%;
                }
            }
            .container-experience__entries--left{
                width: 50%;
                @include flex-center();
            }
            .container-experience__entries--right{
                width: 50%;
                @include flex-center();
            }
            .container-experience__entries__entry{
                background-color: $accent-color;
                width: 70%;
                height: 35vh;
                padding: 2% 3%;
                margin-top: 2vw;
                @include flex-center-row();
                // padding: 3%;
                // box-shadow: 10px 10px #8CB9C0;
                .entry__design{
                    width: 5%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 2%;

                    .entry__design__circle {
                        height: 17px;
                        width: 17px;
                        border-radius: 50%;
                        border: 3px solid;
                        position: relative;
                        border-color: $primary-color;
                        // background-color: $secondary-color;
                      }
                      
                      .entry__design__circle:before {
                        content: "";
                        display: block;
                        position: absolute;
                        z-index: 1;
                        top: 100%;
                        left: 45%;
                        border: 2px dotted $primary-color;
                        border-width: 0 0 0 2px;
                        width: 1px;
                        // height: 300px;
                        height: 25vh;
                    }
                }
                .entry__details{
                    width: 90%;
                    display: flex;
                    flex-direction: column;

                    .entry__content{
                        color: white;
                        font-weight: 400;
                    }
                    .entry__content--bold{
                        font-weight: 500;
                    }
                    .entry__content--smaller{
                        font-size: 0.9rem;
                    }
                    .entry__content__container::-webkit-scrollbar {
                        width: 0.2em;
                    }
                    
                    .entry__content__container::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    }
                    
                    .entry__content__container::-webkit-scrollbar-thumb {
                    background-color: $gray;
                    }
                    .entry__content__container{
                        overflow: auto;
                        margin-top: 0.5vw;
                        margin-bottom: 0.5vw;
                        height: 10vh;

                        .entry__content__details{
                            text-align: start;
                            overflow: auto;
                        }
                    }
                }
            }
            .container-experience__entries__entry--left{
                box-shadow: -10px -10px #8CB9C0;
            }
            .container-experience__entries__entry--right{
                box-shadow: 10px -10px #8CB9C0;
            }
        }
    }

    .container-projects{
        color: $secondary-color;
        width: 100%;
        @include flex-center();

        .carousel__control{
            color: $secondary-color;
        }

        .carousel-item-left, .carousel-item-right{
            @include flex-center();
        }

        .carousel-item.active{
            @include flex-center();
        }

        .carousel-inner.carousel-item{
            // margin: auto;
            @include flex-center();
        }
        .container-projects__entries{
            display: flex;

            margin: 5%;
            margin-top: 2%;

            .carousel-indicators{
                top: 100%;
                position: relative;
                z-index: 1;
                 li{
                    background-color: $secondary-color;
                 }
                 li.active{
                    background-color: $accent-color2;
                 }
            }
        }

        .container-projects__entries--left{
            width: 49%;
            margin-right: 1%;
        }
        .container-projects__entries--right{
            width: 49%;
            margin-left: 1%;
        }
        .container-projects__project{
            width: 60%;
            display: flex;
            direction: row;
            margin: 1%;
            margin-top: 2%;
            border: 10px solid $accent-color2;
            box-shadow: 1px 4px 7px $gray;
            
            .project__image-container{
                width: 30%;
                // border: 10px solid $accent-color2;
                border-right: none;
                padding: 1vw;
                @include flex-center();

                .project__image{
                    width: 100%;
                    align-items: center;
                }
            }
            .project__description{
                @include flex-center();
                width: 70%;
                background-color: $accent-color2;
                padding: 0px 1vw;
                
                .project__description__text{
                    color: white;
                    font-size: 1vw;
                }
            }
        }
        .container-projects__project:hover{
            cursor: pointer;
            .project__description{
                background-color: white;
                border-left: none;
                .project__description__text{
                    color: $accent-color2;
                    font-size: 1vw;
                }
            }
        }
        .footer{
            bottom:0;
            left: 0;
            bottom: 0;
            width: 100%;
            font-size: 1vw;
            padding: 1vw 2vw;
            text-align: center;
            background-color: $secondary-color;
            color: $primary-color;
            position: absolute;
        }
    }

    .project__modal{
        position: fixed;
        z-index: 2;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        .project__modal__content{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            background-color: $primary-color;
            border: 10px solid $accent-color2;
            width: 60%;
            height: 80vh;
            overflow-y: auto;

            .project__modal__action-button{
                margin: 1% 2%;
                display: flex;
                justify-content: end;
                .modal__btn--close{
                    color: $accent-color2;
                    font-size: 1.5em;
                }
                .modal__btn--close:hover{
                    color: $secondary-color;
                    cursor: pointer;
                } 
            }
            .project__modal__name{
                margin-top: 2%;
                margin-bottom: 4%;
                .project__name{
                    margin: 1% 2%;
                    color: $accent-color;
                    font-weight: 500;
                    font-size:larger;
                    text-align: center;
                }
            }
            .project__modal__images{
                @include flex-center-row();
                .project__image{
                    width: 60%;
                }
            }
            .project__modal__images__btn-container{
                @include flex-center-row();
                margin-top: 2%;
                margin-bottom: 2%;
                .images__btn{
                    // all: unset;
                    margin: 0px 0.5%;
                    // padding: 0.5% 2%;
                    padding: 10px 20px;
                    width: 10%;
                }

                .images__btn:disabled{
                    background-color: $gray;
                    cursor: default;
                }
                .images__btn:disabled:hover{
                    filter: brightness(100%);
                }
                .images__btn:focus{
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }
            .project__modal__description{
                color: $accent-color;
            }
        }
    }

    #modal{
        visibility: hidden;
    }

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: $secondary-color;}
    to{border-right-color: transparent;}
  }

}

@media screen and (min-width: 300px) and (max-width: 800px) {
    body{
        overflow: visible;
        .portfolio__menu{
            margin-right: 0.5%;
        }
        .sections__container{
            .portfolio__container{
                overflow: visible;
                min-height: 100vh;
                display: block;
                padding-top: 5%;
                padding-bottom: 5%;
                position: static;
                height: fit-content;
            }
    
            .menu{
                margin-right: 1%;
            }
    
            .container__header{
                font-size: 200%;
            }
    
            .container-frontpage{
                @include flex-center();
                .container-frontpage__animation{
                    display: flex;
                    margin-bottom: 10%;

                    .container-frontpage__animation__circle {
                        // position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        margin-left: 2px;
                        margin-right: 2px;
                        background-color: $accent-color2;
                        animation: move-the-circle 1s infinite;
                        transform-origin: center center;
                      }
                      
                      @for $num from 1 through 9 {
                        .container-frontpage__animation__circle:nth-child(#{$num}) {
                          left: ($num - 1) * 30px;
                          animation-delay: $num * 0.5s;
                        }
                      }
                      
                      @keyframes move-the-circle {
                        0% {
                          transform: translate(0, 0) scale(1);
                          opacity: 1;
                          background-color: $accent-color2;
                        }
                        50% {
                          transform: translate(0, 25px) scale(.5);
                          opacity: .5;
                          background-color: $gray;
                        }
                        100% {
                          transform: translate(0, 0) scale(1);
                          opacity: 1;
                          background-color: $accent-color2;
                        }
                      }
                }
                .container-frontpage__content__social-buttons{
                    .social-buttons__btn{
                        margin: 0px 2%;
                        padding: 0px;
                        color: $accent-color;
                    }
                }
            }
    
            .container-aboutme{
                .container-aboutme__grid{
                    display: flex;
                    flex-direction: column;
                    // @include flex-center-row();
    
                }
                .container-aboutme__grid--left{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    border: none;
                }
                .container-aboutme__grid--right{
                    width: 100%;
                }
                .container-aboutme__image-container{
                    width: 45%;
                    height: 100%;
                    margin-left: 0px;
        
                    .container-aboutme__image-container__image{
                        width: 80%;
                        right: 0;
                        margin-right: 5vw;
                    }
                }
                .container-aboutme__info-container{
                    width: 45%;
                    margin-right: 2%;
                    word-break: break-all;
                    text-align: left;
                }
                .container-aboutme__more-info-container{
                    margin: 2%;
                    padding: 2% 5%;
                }
                .container-aboutme__interests-container{
                    .container-aboutme__interests-container__header{
                        font-size: 5vw;
                    }
                    .container-aboutme__interests-container__icons{
                        @include flex-center-row();
                        width: 100%;
                        margin-top:0;
                    }
                    .interests-container__icon{
                        padding: 3% 5%;
                        color: $accent-color2;
                        font-size: 2em;
                    }
                }
                .container-aboutme__download-button{
                    margin-top: 5%;
                }
            }
    
            .container-skills{
                margin-top: 15%;
                .container-skills__skills{
                    width: 90%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
    
                    .container-skills__skill{
                        width: 30%;
                        // display: block;
                        .skill__icon{
                            font-size: 5vw;
                        }
                        .skill__icon--extra{
                            font-size: 2vw;
                        }
                        .container-skills__icon-container {
                            width: 15vw;
                            height: 15vw;
                        }
                        .container-skills__icon-container:hover{
                            border: 7px solid $accent-color;
                        }
                    }
                }
            }
        
            .container-experience{
                margin-top: 15%;
                // position: absolute;
                // overflow: visible;
                min-height: 100vh;
                overflow: hidden;
                height: fit-content;
                padding: 30px;
                .container-experience__header{
                    // font-size: 300%;
                }
                .container-experience__entries{
                    width: 100%;
                    @include flex-center();
    
                    .container-experience__entries__header{
                        margin: 2% 0px;
                    }
                    .container-experience__entries--left{
                        width: 100%;
                        @include flex-center();  
                    }
                    .container-experience__entries--right{
                        margin-top: 2%;
                        width: 100%;
                        @include flex-center();
                    }
                    .container-experience__entries__entry{
                        margin-bottom: 3%;
                        margin-top: 3%;
                        height: unset;
                        width: 85%;
                        align-items: start;
    
                        .entry__design{
                            margin-top: 2%;
                            width: 5%;
                            height: 100%;
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-end;
                            margin-right: 2%;
        
                            .entry__design__circle {
                                height: 10px;
                                width: 10px;
                              }
                              
                              .entry__design__circle:before {
                                height: 50vw;
                            }
                        }
    
                        //trial
                        .entry__details{
                            .entry__content__container::-webkit-scrollbar {
                                width: unset;
                             }
                             
                             .entry__content__container::-webkit-scrollbar-track {
                                 box-shadow: unset;
                             }
                             
                             .entry__content__container::-webkit-scrollbar-thumb {
                                 background-color: unset;
                             }
                             .entry__content__container{
                                 height: 30vw;
                                 overflow: auto;
                                 margin-top: 2vw;
                                 margin-bottom: 4vw;
         
                                 .entry__content__details{
                                     padding-top: 1%;
                                     text-align: start;
                                     margin-top: 2vw;
                                 }
                             }
                        }
                    }
                }
            }
    
            .container-projects{
                padding-bottom: 0px;
                margin-top: 20%;
                min-height: fit-content;
                overflow: hidden;
                .container-projects__entries{
                    display: block;
                    margin: 2%;
    
                    .carousel-indicators{
                        // top: 100%;
                        position: absolute;
                        margin-top: 2%;
    
                    }
                }
                .container-projects__entries--left, .container-projects__entries--right{
                    width: 100%;
                    margin-left: 0px;
                    margin-right: 0px;
                    @include flex-center();
                }
                .container-projects__project{
                    width: 80%;
                    border: 8px solid $accent-color2;
    
                    .project__image-container{
                        width: 40%;
                        border-right: none;
                    }
    
                    .project__description{
                        @include flex-center();
                        width: 60%;
                        background-color: $accent-color2;
                        padding: 0.5vw 3vw;
                        
                        .project__description__text{
                            color: white;
                            font-size: 2vw;
                            @include default-spacing();
                        }
                    }
                }
                .container-projects__project:hover{
                    .project__description{
                        background-color: $primary-color;
                        border-left: none;
                    }
                }
                .footer{
                    font-size: 0.7em;
                    padding: 3vw 2vw;
                    position: static;
                    margin-top: 30%;
                }
            }
        }
    
        .project__modal{
            z-index: 5;
            .project__modal__content{
                width: 80%;
                .project__modal__name{
                    .project__name{
                        font-size: medium;
                    }
                }
                .project__modal__images{
                    margin-bottom: 5vw;
                    .project__image{
                        width: 80%;
                    }
                }
                .project__modal__images__btn-container{
                    .images__btn{
                        // all: unset;
                        margin: 0px 0.5%;
                        // padding: 0.5% 2%;
                        padding: 8px 25px;
                        // width: 15%;
                        @include flex-center();
                    }
                }

                .project__modal__name{
                    margin: 3vw 5vw;
                }
                .project__modal__description{
                    margin: 2vw;
                    font-size: medium;
                }
            }
        }
    }
}